*{
  font-family:Arial, Helvetica, sans-serif, sans-serif;
  word-wrap: break-word;
}
html, body{
  height: 100%!important;
  width: 100%!important;
}
.form-signin {
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin: 0 auto;
}
.admin-panel {
  width: calc(100% - 300px);
}
.admin-panel .admin-panel-content {
  background: white!important;
}
.z-index-999 {z-index:999!important}
.z-index-99 {z-index:99!important}
.z-index-9 {z-index:9!important}
.sidebar {
  width: 300px;
  min-height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 48px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  float:left;
}
#footer {
  padding: 40px 60px;
}
/* override properties*/
.nav-link{color:#673ab7!important}
#carouselSlider{
  height: 100%!important;
}
.carousel-item img{
  max-height: 100%!important;
  width: auto!important;
}
/* customized colors*/
.custom-purple {background-color: #673ab7}

/* media queries*/

@media screen and (max-width:767px) {
  .sidebar{
    width: 100%!important;
    height: auto!important;
    min-height: auto;
  }
  .navbar-control{
    border-bottom: none!important;
  }
  .admin-panel-content {
    width: 100%!important;
  }
}
